+++
title = "UK GEMINI"
linkTitle = "UK GEMINI"

+++

{{< blocks/cover title="UK GEMINI: The Geospatial Metadata Standard for the UK!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<br>
	{{< blocks/link-down color="info" >}}
</div>
<span>Photo by <a href="https://unsplash.com/@arnosenoner?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Arno Senoner</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>

{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
<p><strong>Why is discovery metadata important?</strong> Data can only be useful and used if it can be found.</p>
<p><strong>Why is a metadata standard important?</strong> Publishing your metadata in a recognised standard inspires trust, enables new services, and opens up international opportunities.  </p>
<p><strong>“GEMINI” is the UK geographic metadata standard.</strong> It provides guidance on how to publish geographic metadata in a way that conforms to relevant ISO standards and the UK’s implementation of the European INSPIRE regulations.</p>
<p>UK GEMINI (GEo-spatial Metadata INteroperability Initiative) is a specification for a set of metadata elements for describing geospatial data resources. It has been produced and is maintained by the <a href="https://www.agi.org.uk/agi-groups/standards-committee" target="_blank" rel="noopener noreferrer">Standards Committee</a>. It is provided free of charge by the AGI for the benefit of the GI community, under a Creative Commons license.</p>
<p>If you're thinking, "why GEMINI? Why not just use the INSPIRE Metadata guidance or the ISO standards?" <a title="Why GEMINI?" href="/why" target="_blank" rel="noopener noreferrer">Click here for some reasons.</a></p>
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">UK GEMINI 2.3</h1>
<p>The AGI Standards Committee published version 2.3 of UK GEMINI in June 2018.</p>
<p><strong><a href="/agi-groups/standards-committee/uk-gemini/40-gemini/1037-uk-gemini-standard-and-inspire-implementing-rules" target="_blank" rel="noopener noreferrer">GEMINI 2.3</a></strong></p>
<p>This revision incorporates material prepared by the UK Location Programme, previously published at <a title="UK location on data.gov.uk" href="https://data.gov.uk/location" target="_blank" rel="noopener noreferrer">data.gov.uk</a>, and material previously published as separate guidance documents. We hope this consolidation will make it easier for you to use. GEMINI has also been updated for change requests from revised INSPIRE guidance and UK users.  The AGI is grateful to Defra for funding part of this work, and for several AGI members also contributing.</p>
<p>The existing guidelines on the quality of metadata still apply: Guidelines for UK GEMINI Part 3 Metadata Quality <div class="phocadownloadfile16"><a href="/about/resources/category/81-gemini?download=100:metadata-guidelines-part-3-april-2015" target="_self" >Metadata Guidelines Part 3 April 2015</a></div></p>
<p>UK INSPIRE announced their intention to require data publishers to migrate to GEMINI 2.3 by December 2019, in line with the target date from Europe for adopting the current version of their INSPIRE Technical Guidance. However, technical implementations have been delayed.<strong> </strong>UK INSPIRE, and the data.gov.uk system in particular, will continue to accept GEMINI 2.2 records encoded according to UK Location guidance, at least until then - although they may generate warning messages from the EU portal.</p>

</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
